<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nueva Vacación</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Administración de Vacaciones</h1>
    <hr>
    <h2>Nueva Vacación</h2>

    <form action="#" th:action="@{/guardarVacacion}" th:object="${vacacion}" method="post">

        <label>Empleado:</label>
        <select th:field="*{empleado}" class="form-control mb-4 col-4">
            <option value="">-- Seleccione un Empleado --</option>
            <option th:each="emp : ${listaEmpleados}"
                    th:value="${emp.id}"
                    th:text="${emp.getNombreCompleto()}"></option>
        </select>

        <label>Periodo (Ej: 2024):</label>
        <input type="number" th:field="*{periodo}" placeholder="Periodo" class="form-control mb-4 col-4">

        <label>Fecha Inicio:</label>
        <input type="date" th:field="*{fechaInicio}" class="form-control mb-4 col-4">

        <label>Fecha Fin:</label>
        <input type="date" th:field="*{fechaFin}" class="form-control mb-4 col-4">

        <label>Estado:</label>
        <select th:field="*{estado}" class="form-control mb-4 col-4">
            <option th:value="'0'" th:text="Programado"></option>
            <option th:value="'1'" th:text="Tomado"></option>
            <option th:value="'2'" th:text="Cancelado"></option>
        </select>

        <button type="submit" class="btn btn-info col-2">Guardar</button>
    </form>
    <hr>
    <a th:href="@{/vacaciones}">Volver al Listado</a>
</div>
</body>
</html>