<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Administración de Vacaciones</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container my-2">
    <h1>Listado de Vacaciones</h1>
    <a th:href="@{/nuevaVacacion}" class="btn btn-primary btn-sm mb-3">Agregar Vacación</a>
    <a th:href="@{/buscarVacaciones}" class="btn btn-info btn-sm mb-3">Buscar Vacaciones</a>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Empleado</th>
            <th>Periodo</th>
            <th>Fecha Inicio</th>
            <th>Fecha Fin</th>
            <th>Estado</th>
            <th>Acción</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="vacacion : ${listaVacaciones}">
            <td th:text="${vacacion.empleado.getNombreCompleto()}"></td>
            <td th:text="${vacacion.periodo}"></td>
            <td th:text="${#dates.format(vacacion.fechaInicio, 'dd/MM/yyyy')}"></td>
            <td th:text="${#dates.format(vacacion.fechaFin, 'dd/MM/yyyy')}"></td>
            <td th:text="${vacacion.getEstadoDescripcion()}"></td>
            <td>
                <a th:href="@{/actualizarVacacion/{id}(id=${vacacion.id})}" class="btn btn-primary">Actualizar</a>
                <a th:href="@{/eliminarVacacion/{id}(id=${vacacion.id})}" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>