<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Búsqueda de Capacitaciones</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
<div class="container my-2">
    <h1>Búsqueda de Capacitaciones</h1>
    <br>

    <form th:action="@{/busquedaCapacitacion}">
        Fecha Inicio Inicio
        <input type="date" name="fechaIniIni" th:value="${fechaIniIni != null ? #dates.format(fechaIniIni, 'yyyy-MM-dd') : ''}">
        Fecha Inicio Fin
        <input type="date" name="fechaIniFin" th:value="${fechaIniFin != null ? #dates.format(fechaIniFin, 'yyyy-MM-dd') : ''}">
        <button type="submit" class="btn btn-primary btn-sm mb-3">Buscar</button>
    </form>
    <br>
    <table class="table table-striped">
        <thead>
        <tr>
            <th> Capacitación </th>
            <th> Fecha Inicio</th>
            <th> Fecha Fin</th>
            <th> Estado </th>
            <th> Creditos </th>
            <th> Detalle </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="capacitacion: ${listaCapacitaciones}">
            <td th:text="${capacitacion.getDescripcion()}" ></td>
            <td th:text="${#dates.format(capacitacion.getFechaInicio(), 'dd/MM/yyyy')}" ></td>
            <td th:text="${#dates.format(capacitacion.getFechaFin(), 'dd/MM/yyyy')}" ></td>
            <td th:text="${capacitacion.getEstadoDescripcion()}" ></td>
            <td th:text="${capacitacion.getCreditos()}" ></td>
            <td>
                <a th:href="@{/capacitacionDetalle/{id}(id=${capacitacion.id})}"  class="btn btn-primary"> Ver Participantes</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>